.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:10px 100px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div_even {
    display: flex;
    width: 100px;
    height: 15px;
    background-color: rgb(253, 6, 6);
    justify-content: center;
    align-items: center;
    border-style: outset;
    border-color: rgba(255, 51, 0, 0.445);
}

.div_odd {
    display: flex;
    width: 100px;
    height: 15px;
    background-color: rgb(4, 41, 248);
    justify-content: center;
    align-items: center;
    border-style: outset;
    border-color: rgba(8, 43, 243, 0.609);
}